
{% extends 'base.html.twig' %}



    {% block title %}Articles{% endblock %}
        {# <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> #}
        
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
                {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}


    {% block body %}
    
    <h1>Listes des articles publier</h1>
    <div class="main">
        {% for article in articles %}
        <article class="articles">
            <h2><a href="{{ path( 'article', {'id': article.id}) }}">{{ article.titre }}</a></h2>
            <p> {{ article.contenu}}</p>
            <div class="siparateur"></div>
        </article>
    {% endfor %}
    </div>
    {% endblock %}

